{% extends "templates/layout.twig" %}

{% block mainContent %}

<div class="row-fluid">
  <div class="span6">
    <h2>Skapa enhetstyp</h2>
   <form class="form-signin" method="post" action="{{ base_url }}administration/unitOrg">
        {{ validation_errors | raw }}

        <label for="unitOrgName">Organisationsnamn</label>
        <input name="unitOrgName"  type="text"     class="input-block-level"   placeholder="Namn (Obligatoriskt)"    id="unitOrgName">

        <button class="btn btn-large btn-primary" type="submit">Skapa</button>
    </form>   

    <h3>Förljande organisationer finns redan</h3>
        {% for unitOrg in unitOrgs %}
            <p>
                {{ unitOrg.name|capitalize }} 
            </p>
        {% endfor %}
    
  </div><!--/span-->
  
  
  <div class="span6">
    <h2>Administrera organisationer</h2>
    <p>Du kan lägga till eller ändra namn på organisationer men INTE ta bort.</p>
  </div><!--/span-->
</div><!--/row-->



{% endblock %}