<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script data-main="{% block jsPage %}js/page1{% endblock %}" src="js/lib/require.js"></script>
    
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %} Försvarsutbildarna Skåne</title>
    {% endblock %}
</head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>