{% extends "templates/layout.twig" %}

{% block mainContent %}

<div class="well well-sm">
    <ul class="nav nav-pills">
        <li><a href="#">Visa Medlemmar</a></li>
        <li><a href="#">Skapa Medlem</a></li>
        <li><a href="#">Messages</a></li>
    </ul>
</div>

<div class="row-fluid">
    <h2>Här kommer members</h2>
</div><!--/row-->
          
{% endblock %}
